/* BookClubPage.module.css */

.buyButton {
  margin-top: 20px; 
  margin-right: 10px; 
}

.anotherBookButton {
  margin-top: 20px; 
  margin-right: 10px;
}

.seeAllBooksButton {
  margin-top: 20px;
}
